
// font
//
@font-face {
  font-family: 'MyWebFont';
  src: font-url('Prompt-Regular.woff') format('woff');
}

*:not(i) {
  font-family: MyWebFont !important;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

body {
  position: relative;
  overflow: hidden;
  // border: 1px solid red !important;
}

@mixin register-login {
  border-radius: 10px;
  padding: 30px;
  background: $white-color;
  color: $gray-dark;
  width: 370px;
}

@mixin input-color {
  color: $primary-color;
  font-size: 1.1em;
}

$primary-color: #ee6123;
$gray-color: #ddd;
$white-color: #fff;
$transparent: transparent;
$gray-dark: #666;
$demi-rose: #f2dede;
$demi-rose-1a: #ebccd1;
$demi-green: #C1E1F1;
$gray-1b: #8f989d;
$gray-1c: #464c50;
$gray-1d: #f9f9f9;
$green: green;
// header
// header
.stage {
  background-image: image-url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-transition: left .25s ease;
     -moz-transition: left .25s ease;
      -ms-transition: left .25s ease;
       -o-transition: left .25s ease;
          transition: left .25s ease;
  .header {
    font-family: MyWebFont;
    height: 60px;
    overflow: hidden;
    .logo {
      position: relative;
      a {
        display: block;
        text-decoration: none;
        color: $white-color;
        text-align: center;
        height: 60px;
        line-height: 60px;
        -webkit-transition: color .25s linear;
           -moz-transition: color .25s linear;
            -ms-transition: color .25s linear;
             -o-transition: color .25s linear;
                transition: color .25s linear;
        span {
          font-size: 1.6em;
          font-weight: bold;
        }
        &:hover {
          color: $primary-color;
        }
      }
      #toggle-menu {
        display: none;
        cursor: pointer;
        i {
          font-size: 2em;
        }
        color: $white-color;
        border: 1px solid $white-color;
        border-radius: 3px;
        padding: 4px 4px 2px;
        position: absolute;
        right: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
      }
    }
    .menu-top {
      ul {
        li {
          display: inline-block;
          a {
            text-transform: uppercase;
            box-sizing: border-box;
            padding: 25px 10px 0px;
            font-size: 1em;
            color: $white-color;
            display: block;
            border-top: 3px solid $transparent;
            -webkit-transition: border .25s linear;
             -moz-transition: border .25s linear;
              -ms-transition: border .25s linear;
               -o-transition: border .25s linear;
                  transition: border .25s linear;
            &:hover {
              border-top: 3px solid $white-color;
            }
          }
        }
      }
    }
    .register {
      margin-top: 5px;
      .btn-login {
        margin-left: 20px;
      }
      p {
        margin-left: 15px;
        font-size: 1.2em;
        float: left;
        text-align: center;
        a {
          color: $white-color;
          display: block;
          &.logout {
            color: $gray-color;
            font-size: 12px;
          }
        }
        &.info-user {
          margin-top: 2px;
        }
      }
      p.avatar {
        img {
          margin-top: 2px;
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
      }
    }
  }
}

.open {
  position: fixed;
  width: 100%;
  left: -80%;
}

.stage-sidebar {
  display: none;
  border: 1px solid $green;
  position: absolute;
  top: 0;
  right: -100%;
  width: 80%;
  overflow-y: scroll;
  background: #4b4c4d;
  -webkit-transition: right .25s ease;
     -moz-transition: right .25s ease;
      -ms-transition: right .25s ease;
       -o-transition: right .25s ease;
          transition: right .25s ease;
  // sidebar
  .sidebar {
    ul {

      li {
        a {
          display: block;
          border-bottom: 1px solid #666;
          border-left: 3px solid $transparent;
          -webkit-transition: all .25s ease;
             -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
               -o-transition: all .25s ease;
                  transition: all .25s ease;
          color: #fff;
          padding: 15px 20px;
          &:hover {
            border-left: 3px solid $white-color;
          }
        }
      }
    }
  }
}

.sidebar-open {
  display: block;
  right: 0;
}


.main {
  .contain {
    width: 100%;
    height: 100%;
    .short-link {
      margin-top: 160px;
      form {
        text-align: center;
        input {
          width: 50%;
          border: 3px solid $white-color;
          border-right: none;
          padding: 15px 10px;
          color: $primary-color;
          outline: none;
          border-radius: 5px 0px 0px 5px;
          font-size: 1em;
          background: $transparent;
        }
        button {
          margin-left: -7px;
          border: none;
          padding: 18px 20px;
          background: $primary-color;
          color: $white-color;
          text-transform: uppercase;
          border-radius: 0px 5px 5px 0px;
        }
      }
      .errors {
        display: none;
        border: 1px solid red;
        ul {
          width: 50%;
          margin: 10px auto auto auto;
          text-align: left;
          box-sizing: border-box;
          padding-left: 5px;
          li {
            color: red;
            font-size: 0.8em;
          }
        }
      }
    }
    .short-link-result {
      display: none;
      border: 1px solid $gray-color;
      background: $white-color;
      padding: 20px 20px 20px 10px;
      border-radius: 5px;
      width: 50%;
      margin: 20px auto;
      p {
        &.full-link {
          overflow: hidden;
          a {
            font-size: 12px;
            color: $gray-dark;
          }
        }
        &.result-notice {
          width: 100%;
          height: 20px;
          overflow: hidden;
        }
      }
    }
  }
  .login {
    @include register-login();
    margin: 100px auto;
    form{
      margin-bottom: 10px;
      input {
        @include input-color;
      }
    }
  }
  .signup {
    margin: 50px auto;
    @include register-login();
    form {
      input {
        @include input-color;
      }
    }
  }
  .trending {
    overflow: hidden;
    background: $gray-1d;
    .sidebar-links {
      overflow-y: auto;
      overflow-x: hidden;
      .list-links {
        .link {
          padding: 5px;
          position: relative;
          border-bottom: 1px solid #dde0e2;
          label {
            position: absolute;
            left: 15px;
            top: 40%;
            border: 1px solid $gray-1b;
            border-radius: 3px;
            width: 20px;
            height: 20px;
            background-color: $white-color;
            font-size: 1.5em;
            input[type=checkbox] {
              display: none;
            }
          }
          span {
            position: absolute;
            color: $gray-1b;
            bottom: 5px;
            right: 20px;
            &:after {
              content: "hits";
              margin-left: 5px;
            }
          }
          div {
            margin-left: 55px;
            h4 {
              color: $gray-1c;
            }
            p {
              color: $primary-color;
            }
          }
        }
      }
    }

    .charts {
      overflow-y: auto;
      background: $white-color;
      .title-link {
        margin-top: 20px;
        h2 {
          margin-top: 7px;
          margin-bottom: 3px;
          font-size: 1.6em;
          color: $gray-1c;
        }
        p {
          color: $gray-1b;
          &.short-link-chart {
            color: $primary-color;
          }
        }
      }
      .chart {
        margin-top: 30px;
        width: 100%;
      }
      .linechart {
        border-top: 1px solid $demi-green;
        .chart-1a-title {
          height: 45px;
          p {
            color: $gray-1b;
            font-size: 1em;
            margin-top: 30px;
            text-transform: uppercase;
          }
        }
        .chart-1a-r {
          height: 250px;
          margin-bottom: 30px;
        }
      }
      .piechart {
        overflow: hidden;
        margin-bottom: 50px;
        border-top: 1px solid $demi-green;
        .pie {
          margin-top: 30px;
          .pie-title {
            color: $gray-1b;
            text-transform: uppercase;
          }
          .pie-r {
            border-top: 1px solid $gray-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .stage {
    .header {
      .menu-top {
        ul {
          li {
            a {
              font: 1em;
              padding: 25px 5px 0px;
            }
          }
        }
      }
      .register {
        margin-top: 5px;
        p {
          margin-left: 15px;
          font-size: 1em;
          float: left;
          text-align: center;
          a {
            display: block;
            &.logout {
              color: $gray-color;
            }
          }
        }
      }
    }
  }
}

#m-notice {
  border-radius: 2px;
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;

  z-index: 10;
  display: none;
  p {
    text-align: center;
    line-height: 60px;
    margin: 0px;
    &.m-notice {
      background: $demi-green;
    }
    &.m-alert {
      background: $demi-rose;
    }
  }
  span.close-notice {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 1.2em;
    cursor: pointer;
    color: #666;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .stage {
    .header {
      .logo {
        #toggle-menu {
          display: block;
        }
      }
      .menu-top {
        display: none;
      }
      .register {
        display: none;
      }
    }
  }
  .main {
    .contain {
      .short-link-result {
        width: 70%;
      }
      .short-link {
        margin-top: 160px;
        form {
          text-align: center;
          input {
            padding: 7px 10px;
          }
          button {
            padding: 10px 20px;
          }
        }
      }
    }
  }
  .stage-sidebar {
    display: block;
  }
}
